<meta http-equiv="refresh" content="10;url=/" />

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= @headline %></h1>
    <p class="lead"><%= @lead_text %></p>
  </div>
</div>
