
.backend { height: 100%; padding: 200; margin: 200; }

.backend-div { width: 50%; height: 50%; float: left; }

.logout {
    margin-top: .7em;
}

#main-container {
    max-width: 668px;
    margin: 8rem auto;
}
 
